<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'index' %}">
      Legajos de Docentes
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'documento' %}active{% endif %}" href="{% url 'documento' %}">
            Documentos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'docente' %}active{% endif %}" href="{% url 'docente' %}">
            Docentes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'notificacion' %}">
            Notificaciones
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
